{% load static %}
<!doctype html>
<html>
<head>
	<title>{{ object }}</title>
	<link rel="stylesheet" href="{% static 'bootstrap/docs/assets/css/bootstrap.css' %}" />
	<style>
		h1,h2,h3,h4,h5{margin-bottom: 0}
		#main{width: 700px}
		/*#main td{width:50%;}*/

		#sub{
			width:70%;
			margin: 0 auto;
		}
		#sub th{
			text-align: center
		}

		@media all {
			.page-break	{ display: none; }
		}

		@media print {
			.page-break	{ display: block; page-break-before: always; }
		}
	</style>
</head>
<body>
	<div class="">
		{% for r in repeat %}
		<table id="main" class="table table-condensed">
			<tr>
				<td colspan="2" style="text-align: center;">
					<div class="pull-left">
						<h4>Danúbio Doces e Salgados</h4>
						<p>Marinho Lemos CIA. LTDA</p>
					</div>
					<div class="pull-right" style="margin-top:10px">
						Rua do Livramento, 181 - Centro - Maceió/AL<br />
						Telefones: 3221-9925 / 3223-8089
					</div>
				</td>
			</tr>
			<tr>
				<td>Número do pedido</td>
				<td>{{ object.id }}</td>
			</tr>
			<tr>
				<td>Nome</td>
				<td>
					{{ object.cliente }}
					({{ object.cliente.telefone1 }}
					{% if object.cliente.telefone2 %}
					- {{ object.cliente.telefone2 }}
					{% endif %})
				</td>
			</tr>
			<tr>
				<td>Endereço</td>
				<td>{{ object.endereco }}</td>
			</tr>
			{% if object.endereco.complemento %}
			<tr>
				<td>Complemento</td>
				<td>{{ object.endereco.complemento }}</td>
			</tr>
			{% endif %}
			<tr>
				<td>Entrega</td>
				<td>{{ object.data_entrega }} - {{ object.get_hora_entrega_display }}</td>
			</tr>
			{% if object.observacao %}
			<tr>
				<td>Observação</td>
				<td>{{ object.observacao }}</td>
			</tr>
			{% endif %}
			<tr>
				<td colspan="4">
					<table id="sub" class="table table-bordered table-striped table-condensed">
						<tr>
							<th>Produto</th>
							<th>Quantidade</th>
							<th>Valor Unitário</th>
							<th>Preço</th>
						</tr>
						{% for item in itens_pedido %}
						<tr>
							<td style="width:25%">{{ item.produto }}</td>
							<td style="width:25%; text-align:center">{{ item.quantidade }}</td>
							<td style="width:25%; text-align:right">R$ {{ item.produto.preco }}</td>
							<td style="width:25%; text-align:right">R$ {{ item.valor }}</td>
						</tr>
						{% endfor%}
						<tr>
							<td><b>Total</b></td>
							<td colspan="3" style="text-align:right"><b>R$ {{ object.total }}</b></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<br />
		{% if total > 7 %}
		<div class="page-break"></div>
		{% endif %}
		{% endfor %}
	</div>
	<div class="container no-print">
		<button class="btn" onclick="window.print()">Imprimir</button>
		<a class="btn" href="{% url 'pedidos_view' %}">Voltar</a>
	</div>
</body>
</html>