{% load static %}
<!doctype html>
<html>

<head>
	<title>Pedidos Danúbio</title>
	<!-- Bower Assets -->
	<link rel="stylesheet" href="{% static 'bootstrap/docs/assets/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'bootstrap/docs/assets/css/bootstrap-responsive.css' %}" />
	<link rel="stylesheet" href="{% static 'bootstrap-datepicker/css/datepicker.css' %}" />
	<link rel="stylesheet" href="{% static 'chosen/public/chosen.css' %}" />
	<script type="text/javascript" src='{% static 'jquery/jquery.min.js' %}'></script>
	<script type="text/javascript" src='{% static 'bootstrap/docs/assets/js/bootstrap.min.js' %}'></script>
	<script type="text/javascript" src='{% static 'bootstrap-datepicker/js/bootstrap-datepicker.js' %}'></script>
	<script type="text/javascript" src='{% static 'bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.js' %}'></script>
	<script type="text/javascript" src="{% static 'chosen/public/chosen.jquery.min.js' %}"></script>
	{% block assets %}{%endblock%}
	
	<!-- local assets -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
	<script src="{{ STATIC_URL }}js/functions.js"></script>
</head>

<body>

	<div id="site" class="container">
		{% if user.is_authenticated %}
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<a class="brand" href="#">
				  Danúbio
				</a>
				<ul class="nav">
					<li id="index-nav"><a href="{% url 'index' %}">Início</a></li>
					<li id="clientes-nav"><a href="{% url 'clientes_view' %}">Clientes</a></li>
					<li id="produtos-nav"><a href="{% url 'produtos_view' %}">Produtos</a></li>
					<li id="pedidos-nav"><a href="{% url 'pedidos_view' %}">Pedidos</a></li>
					<li id="relatorios-nav" class="dropdown">
						<a href="{% url 'pedidos_view' %}" class="dropdown-toggle" data-toggle="dropdown">
							Relatórios
							<b class="caret"></b>
							<ul class="dropdown-menu">
						    	<li><a href="">Diário</a></li>
						    	<li><a href="">Período</a></li>
						    </ul>
						</a>
					</li>
				</ul>
				<ul class="nav pull-right">
					
					<li class="dropdown">
					    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					      <i class="icon-user icon-white"></i>
					      {{ user.username }}
					      <b class="caret"></b>
					    </a>
					    <ul class="dropdown-menu">
					    	<li><a href="">Alterar Senha</a></li>
					    	<li><a href="{% url 'logout' %}">Sair</a></li>
					    </ul>
					</li>
					
				</ul>
			</div>
		</div>
		{% endif %}
		{% block main %}
		{% endblock %}
		</div>

	</div>
	<div id="main-modal" class="modal fade"></div>

</body>

</html>